<!DOCTYPE HTML
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Accept Invitation</title>
</head>

<body
    style="text-align: center; margin: 0; padding-top: 30px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000"
    align="center">
    <div style="text-align: center;">
        <!-- Start container for logo -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 100%; max-width: 600px; background-color: #4880ff1c;"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;"
                        width="596">

                        <!-- Your logo is here -->
                        <img style="width: 180px; max-width: 180px; height: 85px; max-height: 85px; text-align: center; color: #ffffff; object-fit: contain;"
                            alt="Logo" src="http://89.116.21.92:4010/images/logo.png" align="center" width="180" height="85">

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End container for logo -->
        <!-- Start single column section -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 100%; max-width: 600px; background-color: #fff;"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 40px;"
                        width="596">

                        <h1
                            style="font-size: 20px; line-height: 24px;  font-weight: 700;   font-family: 'Nunito Sans', sans-serif;  text-decoration: none; color: #000000;">
                            Accept Invitation

                        </h1>

                        <p
                            style="font-size: 15px; line-height: 24px; margin-bottom: 30px;    font-family: 'Nunito Sans', sans-serif; font-weight: 400; text-decoration: none; color: #919293;">
                            Thank you for registering. Please accept invitation before logging in with the
                            credentials provided below.


                        </p>
                        <a href="<%= verificationLink %>" target="_blank"
                            style="background-color: #4a81ff; font-size: 15px; line-height: 22px;    font-family: 'Nunito Sans', sans-serif; font-weight: normal; text-decoration: none; padding: 12px 15px; color: #ffffff; border-radius: 5px; display: inline-block;">


                            <span style="color: #ffffff;">Accept Invitation</span>

                        </a>

                        <div style="background-color: #f8f8f8; padding: 15px; margin-top: 27px; border-radius: 10px;">
                            <h5
                                style="font-size:20px; font-weight:700; margin-bottom: 10px; margin-top: 0px; text-align:left;font-family: 'Nunito Sans', sans-serif;">
                                Your login credentials:</h5>
                            <table style="width:70%">
                                <tr>
                                    <td
                                        style=" font-family: 'Nunito Sans', sans-serif; font-size: 16px; text-align:left; font-weight: 700;">
                                        Email </td>
                                    <td>:</td>
                                    <td
                                        style=" font-family: 'Nunito Sans', sans-serif; font-size: 16px; text-align:left; padding-left:15px">
                                        <%= email %></td>
                                </tr>
                                <tr>
                                    <td
                                        style=" font-family: 'Nunito Sans', sans-serif; font-size: 16px; text-align:left; font-weight: 700;">
                                        Password </td>
                                    <td>:</td>
                                    <td
                                        style=" font-family: 'Nunito Sans', sans-serif; font-size: 16px; text-align:left; padding-left:15px">
                                        <%= password %></td>
                                </tr>
                            </table>
                            
                        <div style="padding-top: 40px; text-align: left;">
                            <h4 style="margin-bottom: 10px; margin-top: 0px;  font-family: 'Nunito Sans', sans-serif;">
                                Cheers,</h4>
                            <p style="margin-top: 0px; font-weight: 500; font-family: 'Nunito Sans', sans-serif;">
                                Infinite Banking Team</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- End single column section -->
        <!-- Start footer -->
        <table align="center"
            style="text-align: center; vertical-align: top; width: 600px; max-width: 600px; background-color: #202224;"
            width="600">
            <tbody>
                <tr>
                    <td style="width: 596px; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 30px;"
                        width="596">
                        <p
                            style="margin-bottom:10px; margin-top: 0px; text-align:center; color:#fff;   font-family: 'Nunito Sans', sans-serif;">
                            Need More Help?</p>

                        <a href="#"
                            style="color:#fff; text-decoration: underline; text-align:center; display: block;    font-family: 'Nunito Sans', sans-serif;">We
                            are here to help you out</a>

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End footer -->
    </div>

</body>

</html>
